.main-sidebar {
    width: 100px;
    height: 100%;
    vertical-align: top;
    display: block;
    ul.nav.nav-pills.nav-stacked {
        li {
            .border-radius(0);
            padding: 0;
            border: 0;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.4);
            margin-bottom: 3px;
            font-size: 13px;
            a {
                .border-radius(0);
                padding: 15px 0 12px;
                i {
                    margin: 0 auto;
                    display: block;
                    overflow: hidden;
                    height: 28px;
                }
                i.sidebar-plus {
                    background: url("/images/sidebar-plus.png") no-repeat top center;
                }
                i.sidebar-desktop {
                    background: url("/images/sidebar-desktop.png") no-repeat top center;
                }
                i.sidebar-common {
                    background: url("/images/sidebar-common.png") no-repeat top center;
                }
                i.sidebar-company {
                    background: url("/images/sidebar-company.png") no-repeat top center;
                }
                i.sidebar-news {
                    background: url("/images/sidebar-news.png") no-repeat top center;
                }
                i.sidebar-guides {
                    background: url("/images/sidebar-guides.png") no-repeat top center;
                }
                i.sidebar-university {
                    background: url("/images/sidebar-university.png") no-repeat top center;
                }
                i.sidebar-settings {
                    background: url("/images/sidebar-settings.png") no-repeat top center;
                }
                p {
                    margin: 7px 0 0;
                }
            }
        }
        li.active, li:hover {
            background-color: rgba(0, 0, 0, 0);
            a {
                background-color: @link-color;
                color: rgba(255, 255, 255, 1);
                i.sidebar-plus {
                    background: url("/images/sidebar-plus.png") no-repeat top center;
                }
                i.sidebar-desktop {
                    background: url("/images/sidebar-desktop.png") no-repeat bottom center;
                }
                i.sidebar-common {
                    background: url("/images/sidebar-common.png") no-repeat bottom center;
                }
                i.sidebar-company {
                    background: url("/images/sidebar-company.png") no-repeat bottom center;
                }
                i.sidebar-news {
                    background: url("/images/sidebar-news.png") no-repeat bottom center;
                }
                i.sidebar-guides {
                    background: url("/images/sidebar-guides.png") no-repeat bottom center;
                }
                i.sidebar-university {
                    background: url("/images/sidebar-university.png") no-repeat bottom center;
                }
                i.sidebar-settings {
                    background: url("/images/sidebar-settings.png") no-repeat bottom center;
                }
            }

        }
        li.add {
            a {
                background-color: rgba(73, 155, 13, 1);
                color: rgba(255, 255, 255, 1);
            }
        }
        li.add.active {
            a {
                background-color: rgba(50, 110, 50, 1);
            }
        }
    }
    a.toTop {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
        font-size: 13px;
        padding: 8px 0;
        position: fixed;
        bottom: 0;
        width: 100px;
        display: none;
        position: device-fixed;
        p {
            display: block;
            font-size: 16px;
        }
    }
    a.toTop:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
}